.signUpPageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: cadetblue;

  h2 {
    font-size: 24px;
    color: #2d2d2c;
    text-shadow: 2px 1px 2px #c0bdbd;
  }
}

.signUpPageDiv form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1% 0 1% 0;
}

.signUpPageDiv label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUpPageDiv span {
  color: red;
}

.toLogin {
  margin-top: 20px;
  height: 35px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
