.tasksNav {
  height: 10%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.selectDiv {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  width: 20%;
  height: 80%;
  min-height: 6vh;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selectSort {
  width: 90%;
  height: 90%;
  border-radius: 5px;
  background-color: #2e8eef;
  transition: all 0.6s ease 0s;
}

.selectSort:hover {
  width: 100%;
  height: 100%;
  background: #288386;
}
