doctype html
html
    head
        style
            include style.css
    body
        div.header
            h3 Task Management
        div.content
            block content
        div.footer
            h5 created 2022

