extends  container
block content
    h4 Сongratulations , #{userName}
    p  Now you have a new car model #{car.model} year #{car.year}
    img( src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaOWS9mt1XtlZc3TalNfHDmZ2tu6crLxl5qvyGi2MfG7iCs3qpOXzRiQbdk5Xd294Z9_8&usqp=CAU' alt='car' )
